<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cvs.dao.sysRole.SysRoleMapper">
    <insert id="add" parameterType="sysRole">
        INSERT INTO t_sys_role(code, roleName, createdUserId, createdTime)
        VALUES (#{code}, #{roleName}, #{createdUserId}, #{createdTime})
    </insert>

    <update id="update" parameterType="sysRole">
        UPDATE t_sys_role
        <set>
            <if test="roleName != null || roleName != ''">
                roleName = #{roleName},
            </if>
            <if test="updatedUserId != null">
                updatedUserId = #{updatedUserId},
            </if>
            <if test="updatedTime != null">
                updatedTime = #{updatedTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE sr, su
        FROM t_sys_role sr
                 JOIN t_sys_user su ON sr.id = su.roleId
        WHERE sr.id = #{id}
    </delete>

    <select id="selectByPage" resultType="sysRole">
        select * from t_sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                roleName like CONCAT('%', #{roleName}, '%')
            </if>
        </where>
        order by createdTime desc limit #{pageBegin}, #{pageSize}
    </select>
</mapper>
